<footer class="footer mt-5 py-5 bg-dark text-white mx-0">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-md-6 mb-4 order-md-2">
                <h5>Contact Us</h5>
                <p>Email: <a href="mailto:alay.patel@iign.ac.in" class="text-white">alay.patel@iign.ac.in <i class="bi bi-envelope-fill"></i></a></p>
                <p>GitHub: <a href="https://github.com/patelalay231" class="text-white">patelalay231 <i class="bi bi-github"></i></a></p>
            </div>
            <div class="col-md-6 order-md-1">
                <h5>About Blogify</h5>
                <p style="font-family: 'Pacifico', cursive;">Blogify is a platform for creating and sharing blogs. Create an account today and start sharing your stories with the world.</p>
            </div>
        </div>
        <hr class="bg-light">
        <p class="text-center mb-0" style="font-family: 'Indie Flower', cursive;">Created with ❤️ by Alay | Blogify &copy; 2024</p>
    </div>
</footer>
