<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>404 Not Found</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .error-container {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .error-code {
            font-size: 6rem;
            font-weight: bold;
            color: #dc3545;
        }

        .error-message {
            font-size: 1.5rem;
            color: #007bff;
            margin-bottom: 30px;
        }

        .home-link {
            color: #007bff;
            text-decoration: none;
            font-size: 1.2rem;
        }
    </style>
</head>
<body>
    <%- include('./partials/script') %>
    <%- include('./partials/nav') %>
    <div class="error-container">
        <div class="error-code">404</div>
        <div class="error-message">Oops! Page not found.</div>
        <a href="/" class="home-link">Back to Home</a>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>
